@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Manrope:wght@300&display=swap');

:root {
    --h-font: 'Cinzel', Helvetica, serif;
    --p-font: 'Manrope', Helvetica, sans-serif;

    --color1: #000000   ;
    --color2: #959EA9 ;
    --accent1: #D9D9D9;
    --accent2: #956D80;
    --accent3: #918A8A;
}


body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--accent1);
    font-weight: bold;
    font-size: 21px;
}

body {
    margin: 0 auto;
}

header {
    background-color: var(--color1);
    color: var(--accent1);
    padding: 0 50px;
    display: flex;
    height: 15%;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    text-align: center;
    justify-content: end;
    color: var(--accent1);
    text-decoration: none;
    padding: 30px;
    margin: 0 2%;
    font-family: var(--p-font);
}

.logo {
    width: 100%;
    height: 120px;
}

nav a:hover {
    background-color: var(--color2);
    color: white;
}

#logo_link {
    width: 15%;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer {
    background-color: var(--color1);
    padding: 15px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: var(--accent1);
    text-decoration: none;
    padding: 30px;
}

.social img {
    padding: 0 15px
}

.generic-size {
    width: 250px;
    height: 200px;
}

.social a {
    padding: 15px
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
    color: var(--accent1);
}

footer p a:hover {
    text-decoration: underline;
}

hr {
    height: 2px;
    background: var(--accent2);
}

a:link {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Cinzel', Helvetica, serif;
}

h2, h3 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

p {
    font-family: 'Manrope', Helvetica, sans-serif;
}

.parallax {
    min-height: 10%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img1 {
    background-image: url("../images/blog/netflix1.jpg");
}

#img2 {
    background-image: url("../images/blog/abstract.jpg");
}

#img3 {
    background-image: url("../images/blog/the-toys.jpg");
}

#img4 {
    background-image: url("../images/blog/the-creative-brain.jfif");
}

#img5 {
    background-image: url("../images/blog/pixar-story.jfif");
}

#img6 {
    background-image: url("../images/blog/minimalism.jpg");
}

.scroll-up {
    height:6%;
    background-color: var(--accent2);
    font-size:23px;
    padding: 30px 60px;
}

.scroll-container {
    width: 100%;
    height: 7000px;
    scroll-behavior: auto;
}

@media screen and (max-width: 900px) {
    .card-container {
        display: block;
        height: auto;
        margin: 5% 20%;
    }

    .project-description {
        width: 300px;
    }
    
    .project-card {
        width: 30%;
        margin: 20% 3%;
    }
    
    .project-image img {
        width: 300px;
        margin: 0 auto;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }

    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
