@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Manrope:wght@300&display=swap');

:root {
    --h-font: 'Cinzel', Helvetica, serif;
    --p-font: 'Manrope', Helvetica, sans-serif;

    --color1: #000000   ;
    --color2: #959EA9 ;
    --accent1: #D9D9D9;
    --accent2: #956D80;
    --accent3: #918A8A;
}


body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--accent1);
    font-weight: bold;
    font-size: 21px;
}

body {
    margin: 0 auto;
}

header {
    background-color: var(--color1);
    color: var(--accent1);
    padding: 0 50px;
    display: flex;
    height: 15%;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    text-align: center;
    justify-content: end;
    color: var(--accent1);
    text-decoration: none;
    padding: 30px;
    margin: 0 2%;
    font-family: var(--p-font);
}

.logo {
    width: 100%;
    height: 120px;
}

nav a:hover {
    background-color: var(--color2);
    color: white;
}

#logo_link {
    width: 15%;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer {
    background-color: var(--color1);
    padding: 15px 50px;
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: var(--accent1);
    text-decoration: none;
    padding: 30px;
}

.social img {
    padding: 0 15px
}

.generic-size {
    width: 250px;
    height: 200px;
}

.social a {
    padding: 15px
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
    color: var(--accent1);
}

footer p a:hover {
    text-decoration: underline;
}

hr {
    height: 2px;
    background: var(--accent2);
}

a:link {
    text-decoration: none;
}

h1 h2 h3 h4 {
    font-family: 'Cinzel', Helvetica, serif;
}

p {
    font-family: 'Manrope', Helvetica, sans-serif;
    color: var(--accent2);
}

.home {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    padding: 25px;
}

.home a h3 {
    margin-top: 30%;
    text-align: center;
    font-size: 1.2em;
    color: var(--color1);
}

.home-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.home-container p {
    text-align: center;
    margin: 20px;
    font-size: 1.2em;
}

.home-line {
    width: 40%;
}

.break {
    display: flex;
    margin: 40px;
}

.break p {
    margin-top: 0;
}

.card-container {
    display: flex;
    margin: 4%;
    align-items: center;
}

.project-description {
    width: 85%;
}

.project-card {
    width: 30%;
    margin: 2% 3%;
}

.project-image img {
    width: 370px;
    margin: 0 auto;
    border-radius: 5%;
}


@media screen and (max-width: 900px) {
    .card-container {
        display: block;
        height: auto;
        margin: 5% 20%;
    }

    .project-description {
        width: 300px;
    }
    
    .project-card {
        width: 30%;
        margin: 20% 3%;
    }
    
    .project-image img {
        width: 300px;
        margin: 0 auto;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }

    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
